body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #f5efe6;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* MENSAJE */
.mensaje {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  z-index: 2;
  color: #5a3e36;
}

.mensaje h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.mensaje p {
  font-size: 20px;
}

/* CONTADOR */
.contador-amor {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  font-size: 18px;
  color: #5a3e36;
}

.contador-amor strong {
  display: block;
  font-size: 20px;
  margin-top: 5px;
}

/* GALERÍA */
.galeria {
  position: absolute;
  right: 40px;
  top: 150px;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.marco {
  position: relative;
  width: 170px;
  height: 170px;
}

.girasol {
  position: absolute;
  width: 170px;
  animation: girar 25s linear infinite;
}

.foto {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 25px;
  left: 25px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
