body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f0e6;
  overflow: hidden; /* ELIMINA SCROLL */
}

.titulo {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 0;
}

canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contenido {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  margin-top: 40px;
  height: calc(100vh - 120px);
}

.lado-izquierdo {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mensaje {
  font-size: 18px;
  margin-bottom: 30px;
}

.contador-amor {
  font-size: 16px;
}

/* GALERÍA */

.galeria {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.foto {
  position: relative;
  display: flex;
  justify-content: center;
}

.foto::before {
  content: "";
  position: absolute;
  background: url("img/girasol.png") no-repeat center;
  background-size: contain;
  width: 150px;
  height: 150px;
  top: -40px;
  left: -40px;
  opacity: 0.3;
  z-index: 0;
}

.foto img {
  width: 180px; /* MÁS CHICAS */
  height: auto;
  border-radius: 18px;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
