body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fdf6e3;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* MENSAJE */
.mensaje {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  text-align: center;
  color: #5a2d0c;
  font-size: 22px;
  z-index: 2;
}

/* CONTADOR */
.contador-amor {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  color: #5a2d0c;
  z-index: 2;
}

/* GALERÍA MÁS GRANDE */
.galeria {
  position: absolute;
  right: 4%;
  top: 18%;
  display: flex;
  flex-direction: column;
  gap: 60px; /* MÁS espacio */
  z-index: 2;
}

/* FOTO AHORA ESCALA 2 */
.foto {
  position: relative;
  width: 240px;   /* antes era aprox 120 */
  height: 240px;
}

/* GIRASOL ESCALA 2.5 */
.foto::before {
  content: "🌻";
  position: absolute;
  font-size: 300px;   /* antes 100-150 */
  top: -110px;
  left: -110px;
  z-index: 0;
  opacity: 1;
}

/* IMAGEN GRANDE */
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}
